

/*1 cardbox per line (title-card fixed)*/
@media only screen and (max-width: 400px) {
    .title-card {
        flex-direction: column;
    }
    .title-card p {
        margin: 0%;
        width: 100%;
    }

    .container {
        padding: 20px;
    }

    .card-container {
        flex-direction: column;
    }

    .card-box {
        padding: auto;
        max-width: 100%;

    }

    .card-box:nth-child(3n+2) {
        max-width: 100%;
        margin: auto 0px auto 0px;
    }
    
    .headline h1 {
        font-size: 40px;
    } 

    .full-post {
        text-align: left;
    }

}



/*2 card box per line */
@media only screen and (max-width: 749px) {

    .container {
        padding: 20px;
    }

    .card-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        
    }

    .card-box {
        margin: 15px 0;
        max-width: calc(50% - 15px);
        width: 100%;
    }
    .card-box:nth-child(3n+2) {
        margin: 15px 0px;
       
    }
    
    .headline h1 {
        font-size: 40px;
    }

}



/*1 cardbox per line*/
@media only screen and (max-width: 550px) {
    .navbar {
        flex-direction: column-reverse;
        padding: 15px 45px;
    }

    .navbar-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-all-links {
        justify-content: center;
        display: flex;
        padding: 20px 0px 0px 0px;
    }

    .navbar div {
        padding: 5px 0px;
    }

    .navbar-email {
        display: flex;
        justify-content: center;
    }

    .container {
        padding: 20px;
    }

    .card-container {
        flex-direction: column;
    }

    .card-box {
        padding: auto;
        max-width: 100%;

    }

    .card-box:nth-child(3n+2) {
        max-width: 100%;
        margin: auto 0px auto 0px;
    }
    
    .headline h1 {
        font-size: 40px;
        margin: 0px;
    }

    .aside-bar {
        padding-top: 0;
    }

}